.content {
    flex: 1 0 auto;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px 20px 0;
}

.content__counter {
    margin: 0;
}

.content__cards {
    padding: 20px 0 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 20px;
}

.control {
    min-height: 50px;
    background-color: white;  
    width: 100%;   
}

.control__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    min-height: 50px;
    align-items: center;
}

.control__info {
    display: flex;
}

.control__select-all {
    display: block;
    background-image: url(../images/select-all.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    box-sizing: border-box;   
    transition: opacity 0.5s linear;
    border: 0;
    margin-right: 15px;
}

.control__select-all:hover {
    opacity: 0.6;
}

.control__text {
    margin: 0;
}

.control__delete {
    background-image: url(../images/delete.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 30px;
    cursor: pointer;
    box-sizing: border-box;   
    transition: opacity 0.5s linear;
    border: 0;
    width: 20px;
    height: 30px;
    justify-self: center;
}
.control__delete:hover {
    opacity: 0.6;
}
.control__esc {
    justify-self: end;
    margin: 0;
}